{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="content">
<div id="programmes">      

<h2>{{ object.name }}</h2>

{% if object.intro %}
    {{ object.intro }}
{% endif %}

{% if object.first_part %}
    {% if object.first_part %}<h3>Primera part</h3>{% endif %}
    <p>
    {{ object.first_part }}
    </p>
{% endif %}

{% if object.second_part %}
    <h3>Segona part</h3>
    <p>
    {{ object.second_part }}
    </p>
{% endif %}

{% if object.footer %} {{ object.footer }} {% endif %}

</div></div>
{% endblock %}
