{% load i18n %}
{% extends "base" %}

                {% block content %}
<h1 id="pageName">
<img name="quadrattronja" src="/media-lieder/img/quadrattronja.png" width="20" height="12" border="0" alt="">
{% filter lower %}{% trans "Documents" %}: {{ object.catname }}{% endfilter %}</h1>   

<div id="contentsub">

{% for docu in object.get_document_list %}
	<h2><a href="{{ docu.get_file_url }}">{{ docu.name }}</a></h2>
	{% if docu.description %}
            {{ docu.description }}
	{% endif %}
        <p class="filet">&nbsp;</p>
{% endfor %}
</div>
                {% endblock %}
