{% load i18n %}
{% extends "base" %}


{% block content %}
      
<h1>{% filter lower %}{% trans "Documents" %}{% endfilter %}</h1>

{% regroup object_list|dictsort:"get_category" by get_category as grouped %}

<ul>
{% for document in grouped %}
      <li>
	<h2>{{ document.grouper }}</h2>
	{{ document.description }}
	{{ document.list}}
      </li>




    {% comment %}
    {% for docu in document.list %}
      <em>[?]</em> <a href="{{ docu.get_doc_url }}">{{ docu.name }}</a><br>
      {% comment %}{{ docu.description }}<br>{% endcomment %}
    {% endfor %}
    {% endcomment %}

{% endfor %}
</ul>

{% endblock %}
