{% load i18n %}
{% extends "base.html" %}


{% block content %}
<div id="content">

<ul>
{% for article in object_list %}
<div class="article-{{ article.section.slug }}">
    <li>
    {% if article.image %}
        <a href="{{ article.get_absolute_url }}">
        <img src={{ article.get_image_url }} alt="{{ article.name }}" height="{{ article.get_image_height }}"
        width="{{ article.get_image_width }}" /></a>
    {% endif %}
    <a href="{{ article.get_absolute_url }}">{{ article.name }}</a>
    </li>

</div>
{% endfor %}
</ul>

</div>
{% endblock %}
