{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="content">
 <div id="article-{{ object_list.0.section.slug }}-list">

{% for article in object_list %}
<div class="article-{{ article.section.slug }}-item">
    <h2><a href="{{ article.get_absolute_url }}">{{ article.name }}</a></h2>
    
    {% if article.section.show_image %}
        {% if article.image %}
        <img src="{{ article.get_image_url }}" alt="{{ article.name }}" 
        height="{{ article.get_image_height }}" width="{{ article.get_image_width }}" />
        {% endif %}
    {% endif %}
    
    {% if article.section.show_intro %}{% if article.intro %}
        {{ article.intro }}
    {% endif %}{% endif %}
    
</div>
{% endfor %}

 </div>
</div>

{% endblock %}
