{% load i18n %}
{% extends "base.html" %}


{% block content %}


<div id="taulaenregistrament">

<table>
{% for article in object_list %}
    {% cycle <tr>,<!--><--> %}
    <td>
      <a href="{{ article.get_absolute_url }}" onclick="window.open(this.href,'newwin', 'width=450,height=450'); return false;">
      <img class="enregistraments" src="{{ article.get_image_url }}" alt="{{ article.name }}"
      height="{{ article.get_image_height }}" width="{{ article.get_image_width }}" />
      </a>
      <h3>{{ article.name }}</h3>
      {% if article.intro %}{{ article.intro }}{% endif %}
    </td>
    {% cycle <!--><-->,</tr> %}
{% endfor %}
</table>

</div>	
{% endblock %}
