<table>
{% for article in section_list %}
    {% cycle <tr>,<!--><--> %}
    <td>
      {% comment %}
            <a href="{{ article.get_absolute_url }}" onclick="window.open(this.href,'newwin',
             'width=450,height=450'); return false;">
      {% endcomment %}
      <a href="{{ article.get_absolute_url }}">
      <img class="enregistraments" src="{{ article.get_image_url }}" alt="{{ article.name }}"
      height="{{ article.get_image_height }}" width="{{ article.get_image_width }}" />
      </a>
      <h3>{{ article.name }}</h3>
      {% if article.intro %}{{ article.intro }}{% endif %}
    </td>
    {% cycle <!--><-->,</tr> %}
{% endfor %}
</table>
