{% load i18n %}
{% extends "base" %}


{% block content %}

<h1 id="pageName"><img name="quadrattronja" src="/media-lieder/img/quadrattronja.png" width="15" height="9" alt="quadrattronja">
{{ object.secname|lower }}</h1>

<div id="contentsub">
<div id="taulaenregistrament">

<table>
{% for article in object.get_article_list %}
    {% cycle <tr>,<!--><--> %}
    <td>
      <a href="{{ article.get_absolute_url }}" onclick="window.open(this.href,'newwin', 'width=450,height=450'); return false;">
      <img class="enregistraments" src="{{ article.get_image_url }}" alt="{{ article.name }}"
      height="{{ article.get_image_height }}" width="{{ article.get_image_width }}" />
      </a>
      <h3>{{ article.name }}</h3>
      {% if article.intro %}{{ article.intro }}{% endif %}
    </td>
    {% cycle <!--><-->,</tr> %}
{% endfor %}
</table>

</div>
</div>	
{% endblock %}
