{% extends "base.html" %}
{% load i18n articletags %}

{% block content %}
<div id="content">
    <div id="taulaenregistrament">
        {% show_enregistraments_list %}
    </div>
</div>	
{% endblock %}

{% block sidebar %}
<div id="sidebar">
 <div id="sidebar-menu">{% include "menus/get-menu-vert.html" %}</div>

    <div id={{object.slug}} class="songlist-on-sidebar">
        {% if object.image %}
        <img src="{{ object.get_image_url }}" alt="{{ object.name }}" height=74" width="74"/>
        {% endif %}

        <h3>{{ object.name }}</h3>
        {{ object.body }}
    </div>
</div>
{% endblock %}
