{% load i18n %}
{% extends "base" %}


{% block content %}

<div id="articles-enregistraments">      
<h1>{{ object.secname}}</h1>

{% for article in object.get_article_list %}
    {% if article.image %}
        <a href="{{ article.get_absolute_url }}">
        <img src={{ article.get_image_url }} alt="{{ article.name }}" height=80 width=80 /></a>
    {% endif %}
    <h2><a href="{{ article.get_absolute_url }}">{{ article.name }}</a></h2>
    {% if article.intro %}
        {{ article.intro }}
    {% endif %}
{% endfor %}

</div>	
{% endblock %}
