{% load i18n %}
{% extends "base" %}


{% block content %}

<h1 id="pageName"><img name="quadrattronja" src="/media-lieder/img/quadrattronja.png" width="15" height="9" alt="quadrattronja">
{{ object.secname|lower }}</h1>

<div id="contentsub">
<ul>
{% for article in object.get_article_list %}
    <li>
    {% if article.image %}
        <a href="{{ article.get_absolute_url }}">
        <img src={{ article.get_image_url }} alt="{{ article.name }}" height="{{ article.get_image_heigth }}"
        width="{{ article.get_image_width }}" /></a>
    {% endif %}
    <a href="{{ article.get_absolute_url }}">{{ article.name }}</a>
    </li>

{% endfor %}
</ul>
</div>
{% endblock %}
