{% load i18n menutags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
{% block meta %} <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"> {% endblock %}
{% block title %} <title>{% trans "Cor de Cambra Lieder C&agrave;mera" %}</title> {% endblock %}
{% block style %} <link href="/media-lieder/css/liquid.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block script %}{% endblock %}
</head>



{% block body-opentag %}<body>{% endblock %}

{% block topbar %}
<div id="header">
 <div id="header-menu">{% include "menus/get-menu-horit.html" %}</div>
 <a href="/">
   <img id="header-logo"  src="/media-lieder/img/logotronja.png" target='/' height="65" width="255">
 </a>
</div>
{% endblock %}

<div id="container">
{% block content %}{% endblock %}
</div>

{% block sidebar %}
<div id="sidebar">
 <div id="sidebar-menu">
  {% include "menus/get-menu-vert.html" %}
 </div>
</div>
{% endblock %}

{% block bottombar %}
<div class="clearing">&nbsp;</div>
<div id="footer">{% include "lang-chooser-p.html" %}</div> 
{% endblock %}

</body></html>