{% extends "base.html" %}
{% load i18n %}


{% block content %}
<div id="content">
 <div id="link-list">

{% for categ in object_list %}
    <h2>{{ categ.catname }}</h2>
    {% if categ.catdescription %}
        {{ categ.catdescription }}
    {% endif %}

    {% for link in categ.link_set.all %}
        <div class="link-list-item">
	<p>
        <strong><a href="{{ link.url }}">{{ link.name }}</a></strong>
	{% if link.description %}
            {{ link.description }}
	{% endif %}
        </p>
        </div>
{% endfor %}

{% endfor %}

 </div>
</div>
{% endblock %}
