{% extends "base.html" %}
{% load i18n %}


{% block content %}
<div id="content">

{% for categ in object_list %}
	<h2><a href="{{ categ.get_absolute_url }}">{{ categ.catname }}</a></h2>
        {% if categ.catdescription %}
            <p>{{ categ.catdescription }}</p>
	{% endif %}


<ul>
{% for link in categ.link_set.all %}
	<li><a href="{{ link.url }}">{{ link.name }}</a>
	{% if link.description %}
            <p>{{ link.description }}</p>
	{% endif %}
        </li>
{% endfor %}
</ul>

{% endfor %}

</div>
{% endblock %}
