{% load i18n singertags %}

{% get_singers as singers %}

<table class="singers">
<tr>
    <td><h2>{% trans "Sopranos" %}</h2></td>
    <td><h2>{% trans "Altos" %}</h2></td>
    <td><h2>{% trans "Tenors" %}</h2></td>
    <td><h2>{% trans "Basses" %}</h2></td>
</tr>
<tr>
<td>
    {% for name in singers.sopranos%}
        <p>{{ name }}</p>
    {% endfor %}
</td>
<td>
    {% for name in singers.altos %}
        <p>{{ name }}</p>
    {% endfor %}
</td>
<td>
    {% for name in singers.tenors %}
        <p>{{ name }}</p>
    {% endfor %}
</td>
<td>
    {% for name in singers.basses%}
        <p>{{ name }}</p>
    {% endfor %}
</td>
<tr></table>