{% load i18n singertags %}

{% get_singers as singers %}

<table class="singer-emm-table">
<tbody>
<tr>
    <td><h2>{% trans "Sopranos" %}</h2></td>
    <td><h2>{% trans "Altos" %}</h2></td>
    <td><h2>{% trans "Tenors" %}</h2></td>
    <td><h2>{% trans "Basses" %}</h2></td>
</tr>
<tr>
<td valign="top"><p>
    {% for name in singers.sopranos%}
        {{ name }}<br/>
    {% endfor %}
</p></td>
<td valign="top"><p>
    {% for name in singers.altos %}
        {{ name }}<br/>
    {% endfor %}
</p></td>
<td valign="top"><p>
    {% for name in singers.tenors %}
        {{ name }}<br/>
    {% endfor %}
</p></td>
<td valign="top"><p>
    {% for name in singers.basses%}
        {{ name }}<br/>
    {% endfor %}
</p></td>
<tr>
</tbody></table>