{% load i18n %}
{% extends "base" %}


{% block content %}
      
<h1>{{ object.name|lower }}</h1>

    {% if object.city %}
        <li>
	{% trans "City: " %}<strong>{{ object.city }}</strong>
        </li>
    {% endif %}
    {% if object.start_date %}
        <li>
	{% trans "Date: " %}<strong>{{ object.start_date}}</strong>
        </li>
    {% endif %}
    {% if object.auditorium %}
    <li>
      {% trans "Auditorium: " %}<strong>{{ object.auditorium }}</strong></li>
    {% endif %}
    {% if object.address %}
    <li>
      {% trans "Address:" %}<strong>{{ object.address }}</strong>
    </li>
    {% endif %}
    {% if object.cycle %}
    <li>
      {% trans "Cycle:" %}<strong>{{ object.cycle }}</strong>
    </li>
    {% endif %}
    {% if object.programme %}
    <li>
      {% trans "Programme:" %}<strong>{{ object.programme }}</strong>
    </li>
    {% endif %}
    {% if object.tickets %}
    <li>
      {% trans "Tickets:" %}<strong>{{ object.tickets }}</strong>
    </li>
    {% endif %}
    {% if object.price %}
    <li>
      {% trans "Price:" %}<strong>{{ object.price }}</strong>
    </li>
    {% endif %}
    {% if object.organization %}
    <li>
      {% trans "Organization:" %}<strong>{{ object.organization }}</strong>
    </li>
    {% endif %}
    {% if object.others_markdown %}
    <li>
      {% trans "Others:" %}{{ object.others }}
    </li>
    {% endif %}
    <hr>

{{ object.footer }}

{% endblock %}
