{% load i18n %}
{% extends "base.html" %}

{% block content %}
<div id="content">

{% for object in object_list %}
<div class="concerts">
    {% if object.city %}
        <h2>{{ object.city }}</h2>
    {% endif %}
    
    {% if object.start_date %}
        <strong>{{ object.start_date}}</strong><br />
    {% endif %}
    {% if object.auditorium %}
        {{ object.auditorium }}<br />
    {% endif %}

    <p>
    {% if object.programme %}
        <em>{% trans "Programme" %}: </em>{{ object.programme }}<br />
    {% endif %}
    
    {% if object.cycle %}
        <em>{% trans "Cycle" %}: </em>{{ object.cycle }}<br />
    {% endif %}
    {% if object.organization %}
        <em>{% trans "Organization" %}: </em>{{ object.organization }}<br />
    {% endif %}
    </p>
    
    
    <p>
    {% if object.address %}
        <em>{{ object.address }}</em><br />
    {% endif %}
    </p>
    
    <p>
    {% if object.price %}
        <em>{% trans "Price" %}: </em>{{ object.price }}<br />
    {% endif %}
    {% if object.tickets %}
        <em>{% trans "Tickets" %}: </em>{{ object.tickets }}
    {% endif %}
    </p>
    
    {% if object.others_markdown %}
        <p> {% trans "Others" %}: {{ object.others }}</p>
    {% endif %}
    
</div>
{% endfor %}

</div>
{% endblock %}
